// Importo BootStrap
@import '~bootstrap/scss/bootstrap';
// Importo Google Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');;
// Importo le variabili
@import './variables.scss';

body {
    font-family: $mainFont;
    min-height: 100vh;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    background-image: url('https://i.imgur.com/CFqAGQ6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}